<div class="postTitle">
  <%= @tweet.title %>
</div>
<div class="postImage">
  <%= @tweet.image %>
</div>
<div class="postAuthor">
</div>
<div class="postText">
  <%= simple_format @tweet.text %>
</div>
<div class="postDate">
  <%= @tweet.data %>
  kcal
</div>