// application.thml.erb全て共通（header部分)

.header{
  height: 80px;
  width: 100%;
  padding: 0 150px;
  background-color: yellow;
  color: #FF9933;
  display: flex;
  justify-content: space-between;
  &__title{
    font-size: 30px;
    line-height: 70px;
    &--text{
      text-decoration: none;
      color: #FF9933;
    }
    &--text:hover{
      color:red;
    }
  }
  &__right{
    &--btn{
      text-decoration: none;
      line-height: 70px;
      color: #FF9933;
      margin-left:15px;
    }
    &--btn:hover{
      color:red;
    }
  }
}

