// posts(マイページ)show.html.erbのscssファイル


.calmor{
  font-size:40px;
  padding-bottom: 50px;
  font-weight: bold;
  justify-content: space-between;
  display:flex;
  &__caltext1{
    padding-left:150px;
    color: #2C7CFF;
  }
  &__calresult1{
    padding-right:150px;
    color: red;
  }
}

.callun{
  font-size:40px;
  padding-bottom: 50px;
  font-weight: bold;
  justify-content: space-between;
  display:flex;
  &__caltext2{
    padding-left:150px;
    color: #2C7CFF;
  }
  &__calresult2{
    padding-right:150px;
    color: red;
  }
}

.caldin{
  font-size:40px;
  padding-bottom: 50px;
  font-weight: bold;
  justify-content: space-between;
  display:flex;
  &__caltext3{
    padding-left:150px;
    color: #2C7CFF;
  }
  &__calresult3{
    padding-right:150px;
    color: red;
  }
}

.caltotal{
  font-size:40px;
  padding-bottom: 50px;
  font-weight: bold;
  justify-content: space-between;
  display:flex;
  &__caltotaltext{
    padding-left:150px;
    color: #2C7CFF;
  }
  &__calanswer{
    padding-right:150px;
    color: red;
  }
}