// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// users(マイページ)users.html.erbのscssファイル
.content{
  padding: 10px;
  border-bottom: 1px solid #f6f6f6;
  display: flex;
  &__day{
    width: calc(100%-100px);
    &__top{
      font-size: 30px;
      font-weight: bold;
    }
  }
}

// posts(マイページ)show.html.erbのscssファイル


.calmor{
  font-size:30px;
  padding-bottom: 70px;
  font-weight: bold;
  margin-left: 200px;
  display:flex;
  &__calresult1{
    margin-left: 400px;
    color: red;
  }
}

.callun{
  font-size:30px;
  padding-bottom: 70px;
  font-weight: bold;
  margin-left: 200px;
  display:flex;
  &__calresult2{
    margin-left: 400px;
    color: red;
  }
}

.caldin{
  font-size:30px;
  padding-bottom: 70px;
  font-weight: bold;
  margin-left: 200px;
  display:flex;
  &__calresult3{
    margin-left: 400px;
    color: red;
  }
}

.caltotal{
  font-size:30px;
  padding-bottom: 70px;
  font-weight: bold;
  margin-left: 200px;
  display:flex;
  &__calanswer{
    margin-left: 315px;
    color: red;
  }
}


.postDate{
  font-size: 15px;
  text-align: right;
  font-weight: bold;
  font-size: 50px;
  margin-right: 250px;
  margin-top: 100px;
}
.postAuthor{
  font-size: 15px;
  color: #999;
  text-align: center;
}

// POST(マイページ)、edit.html.erb,new.html.erb共通scss

  .postform{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    padding-top: 30px;
  }

    .calinput{
    display: block;
    width: 80%;
    height: 50px;
    text-align: center;
    margin-top:20px;
    }
    .comment{
      // text-align: right;
      // margin-right: 50px;
      font-size:30px;
      }
    

  .calcomment{
    padding-top:60px;
    color:red;
  }

  .daytitle{
    margin-left: 90px;
    margin-top: 20px;
    color: red;
  }


