body{

  // ---background---

  background-color: #f6f6f6;
  background-image: image_url("back-ground.jpg");
  height:100%;
  width:100%;
  background-size: cover;
  // background-position: center;
  // min-width: 650px;
  // -------------------

  

  // ---application HTML---
  .contents{
    margin: 80px auto 0;
    background-color: #fff;
    height: 700px;
    width: 70%;
    overflow: scroll;
    
  // ------------------------

  // tweet(共用部) indexaction HTML

    .content{
      padding: 10px;
      border-bottom: 1px solid #f6f6f6;
      display: flex;
      &__left{
        padding-right: 20px;
        &--images{
          margin-top: 12px;
          width: 55px;
          border: solid 1px;
          &--image{
            height:55px;
            width:55px;
          }
        }
      }
      &__right{
        width: calc(100%-100px);
        &__top{
          font-size: 30px;
          font-weight: bold;
          color: #000000;
          &--title{
            text-decoration: none;
            color: #000000;
          }
        }
        &__bottom{
          font-size: 15px;
          color: red;
          font-weight: bold;
          display: flex;
          &--userName{
            &--btn{
              text-decoration: none;
              color: #999;
            }
          }
          &--date{
            margin-left: 20px;
          }
        }
      }
      &__title{
        font-size: 30px;
        font-weight: bold;
        padding-top: 30px;
        text-align: center;
        .error{
          color: red;
          text-align: center;
        }
      }
    }
    .content:hover{
      background-color:green;
	text-decoration: inherit;
    }

    // tweet(共用部) showaction HTML
    // .postTitleは全てのタイトル部分共通使用（マイページ、共通部分）

    .postTitle{
      padding-top: 20px;
      padding-bottom: 30px;
      text-align: center;
      font-size: 50px;
      font-weight: bold;
    }
    .post{
      display:flex;
      justify-content:space-between;
    .postText{
      margin-right: 100px;
      text-align: right;
      height: 400px;
      font-size: 14px;
      width:400px;
      border: solid 1px;
      background-color:#CCFFFF;

    }
    .postImage{
      // text-align: left;
      // font-size: 20px;
      // width: 50%;
      margin-left: 100px;
      &__image{
        height:400px;
        width:500px;
      }
    }
  }
    
    .postDate{
      font-weight: bold;
      font-size: 40px;
      margin-right: 100px;
      margin-left: 670px;
      margin-top: 10px;
      &__date{
        background-color:#CCFFCC;
        border: solid 1px;
        text-align:center;
      }
    }
    .postAuthor{
      font-size: 15px;
      color: #999;
      text-align: center;
    }
    .postManage{
      display: flex;
      justify-content: center;
      margin-top: 20px;
      &__edit{
        display: block;
        border-radius: 5px;
        color: #000;
        background-color:yellow;
        padding-top: 15px;
        text-align: center;
        text-decoration: none;
        margin-right: 20px;
        height: 50px;
        width: 200px;
      }
      &__edit:hover{
      background-color: #FF9933;
      color:yellow;
      }
      &__delete{
        display: block;
        border-radius: 5px;
        color: #000;
        background-color:yellow;
        padding-top: 15px;
        text-align: center;
        text-decoration: none;
        margin-left: 10px;
        height: 50px;
        width: 200px;
      }
      &__delete:hover{
      background-color: #FF9933;
      color:yellow;
      }
    }
    
  }


  .user{
    padding: 15px 30px;
  }

  a{
    text-decoration: none;
  }
}
.pagination{
  text-align: center;
.first{
  a{
    color:black;
    font-size:25px;
  }
  a:hover{
    color:blue;
  }
}
.prev{
  a{
    color:black;
    font-size:25px;
  }
  a:hover{
    color:blue;
  }
}
.page{
  a{
    color:black;
    font-size:25px;
  }
  a:hover{
    color:blue;
  }
}  
.page.current{
    color:red;
    font-size:25px;

}
.next{
  a{
    color:black;
    font-size:25px;
  }
  a:hover{
    color:blue;
  }
}
.last{
  a{
    color:black;
    font-size:25px;
  }
  a:hover{
    color:blue;
  }
 }
}